* {
  margin: 0;
  padding: 0;
}
html,
body,
#root,
.main {
  height: 100%;
  width: 100%;
}
.main {
  display: flex;
  flex-direction: column;
}
.header {
  flex-shrink: 0;
  padding: 20px 20px;
  font-size: 16px;
  color: #000;
  font-weight: bold;
  display: block;
  border-bottom: 1px solid #c3bec9;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
}
.container {
  flex: 1 1 0%;
  min-height: 0;
  overflow: auto;
  background-color: #e6e2e9;
}
.container > svg {
  height: 100%;
  width: 100%;
}

.node-button-circle {
  stroke-width: 40px !important;
  stroke: #6e10b6;
}

.node-button-text {
  fill: #fff;
  font-size: 64px;
}
